* {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.container {
  display: flex;
  height: 100vh;
  justify-content: center;
}

.nav {
  width: 100%;
  background-color: rgba(33, 42, 62, 0.8901960784);
  padding: 1.5rem;
  position: fixed;
}
.nav__ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.nav__li {
  font-size: 1.5rem;
}
.nav__li-item {
  color: #e3f4f4;
  border-bottom: 0.2rem solid transparent;
  transition: color 1s, border-bottom 1s;
}
.nav__li-item:hover {
  color: #47a992;
  border-bottom: 0.2rem solid #47a992;
}
.nav__li-item--btn {
  color: #47a992;
  border: 0.1rem solid;
  font-size: 1rem;
  padding: 0.3rem;
  border-radius: 0.5rem;
  background-color: #2b2a33;
  font-weight: bold;
  box-shadow: 0 0 0.4rem #47a992;
}
.nav__li-item--btn:hover {
  background-color: #7f93b4;
  color: #15273f;
}
.nav__li-item--btn:active {
  color: #47a992;
  background-color: #2b2a33;
}

.publications {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.publications--disabled {
  display: none;
}
.publications__content {
  font-size: 3rem;
  color: white;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 0 0.6rem black;
}
.publications__card {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  width: 270px;
  height: 430px;
  background-color: #15273f;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 0 20px #0b1629;
}
.publications__img {
  width: 100%;
  height: 150px;
  border-radius: 1rem;
}
.publications__img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 1rem;
}
.publications__title {
  color: #ffffff;
  font-size: 1.2rem;
  text-align: center;
}
.publications__text {
  color: #7f93b4;
  font-size: 1rem;
  text-align: justify;
}
.publications__date {
  color: #0df6ee;
  font-weight: bold;
}
.publications__hr {
  border: none;
  border-bottom: 0.1rem solid #7f93b4;
}
.publications__buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.user {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 100vh;
  gap: 2rem;
  background-color: red;
}
.user__data {
  width: 300px;
  height: 250px;
  border: 1px solid;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
.user__title {
  text-align: center;
}
.user__inputs {
  display: flex;
  flex-direction: column;
}
.user__input {
  display: flex;
  flex-direction: row;
  padding: 0.2rem 0;
}
.user__input label {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.user__input label span {
  font-size: 1.2rem;
}
.user__input label input {
  padding: 0.5rem;
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 0.1rem solid;
}
.user__btn {
  margin-top: 1rem;
  padding: 0.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 0.5rem;
}
.user__profile {
  width: 300px;
  height: 300px;
  border: 0.1rem solid;
  border-radius: 0.5rem;
}

/*# sourceMappingURL=usuario.css.map */
