* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-image: url('../Svg/wave-haikei.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.container {
	width: 800px;
	height: 520px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	border-radius: 0.4rem;
	position: absolute;
	box-shadow: 0 0 10px blue;

	&__img-sign,
	&__img-login {
		width: 50%;
		height: 100%;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		border-radius: 0.4rem 0 0 0 0.4rem;
	}

	&__img-sign--active {
		background-image: url('../Img/miles-morales-spider-man_910x1607_xtrafondos.com.jpg');
		border-radius: 0.4rem 0 0 0.4rem;
	}

	&__img-login--active {
		background-image: url('../Img/spider-man-raimi-verse-traje-dorado_1630x2880_xtrafondos.com.jpg');
		border-radius: 0.4rem 0 0 0.4rem;
	}

	&__disabled {
		display: none;
	}

	&__form {
		width: 50%;
		height: 100%;
		background-color: #364560;
		padding: 0 1.5rem;
		border-radius: 0 0.4rem 0.4rem 0;
	}
}

.button {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	flex-direction: row;
	padding: 0.6rem 0 0 0;

	&__sign-in,
	&__sign-up {
		padding: 0.3rem;
		background-color: #4c5d72;
		border: none;
		color: #7f8c9a;
		font-size: 0.8rem;
		font-weight: bold;
		cursor: pointer;
	}

	&__sign-in {
		border-radius: 1rem 0 0 1rem;
	}

	&__sign-up {
		border-radius: 0 1rem 1rem 0;
	}

	&__sign-in--active {
		background-color: #68dac7;
		color: #d0f1ed;
		box-shadow: 0 0 10px black;
	}

	&__sign-up--active {
		background-color: #68dac7;
		color: #d0f1ed;
		box-shadow: 0 0 10px black;
	}
}

.signin {
	color: #5d6c7d;
	font-weight: 100;
	padding: 0.2rem 0 0.8rem 0;

	&__sign-in,
	&__sign-up {
		font-size: 1.5rem;
	}

	&__or {
		font-size: 1.2rem;
	}

	&__sign-in--active,
	&__sign-up--active {
		color: #ced2d8;
		border-bottom: 4px solid #1f807d;
	}
}
